.address-list__location--white {
    color: var(--primary-bg-color);
}

.address-list__location {
    font-style: normal;
    line-height: 1.7;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.address-list__link {
    font-style: normal;
    line-height: 1.7;
    color: var(--footer-contact-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.address-list__item:not(:last-child) {
    margin-bottom: 9px;
}