.header {
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid var(--line-under-header);
    > .container {
            display: flex;
            align-items: center;
        }
}

.nav {
    display: flex;
    &__item:not(:last-child) {
            margin-right: 50px;
        }
}


.nav__list {
    display: flex;
    align-items: center;
    display: none;
} 

.nav__link {
    position: relative;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding: 32px 0;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.contacts-nav {
    display: flex;
    margin-left: auto;
    display: none;
    &__item:not(:last-child) {
            margin-right: 30px;
        }
}

.current {
    color: var(--accent-color);
    &::after {
            position: absolute;
            left: 0;
            bottom: -1px;
    
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
}

.contacts-nav__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.contacts-nav__icon {
    fill: var(--title-text-color);
    margin-right: 10px;

    .contacts-nav__link:hover &,
        .contacts-nav__link:focus & {
            fill: var(--accent-color);
        }
}

.menu-mobile__icon {
    background-color: var(--primary-bg-color);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.menu-mobile-btn {
    background-color: var(--primary-bg-color);
    border-color: transparent;
    display: block;
    margin-left: auto;

}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--primary-bg-color);
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-close-btn {
    position: relative;
        z-index: 2;
        display: inline-flex;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    
        transition: fill 250ms;
    
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
}

.menu-close-btn__icon {
    fill: var(--primary-text-color);

    .menu-close-btn:hover &,
        .menu-close-btn:focus & {
            fill: var(--accent-color);
        }
}

.mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;

    color: #212121;
}


menu-close-btn

mob-menu-list

mob-menu-nav

mob-menu-nav__item

mob-menu-nav__link

