.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color)
}

.nav__logo {
    margin-right: 93px;
    padding: 24px 0;
}

.nav__name {
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.container-address__logo {
    display: block;
    margin-bottom: 20px;
}

.container-address__name {
    color: var(--white-color);
}