.portfolio-list__content {
    flex-grow: 1;
    padding: 20px 24px;
    border-left: 1px solid var(--border-portfolio);
    border-right: 1px solid var(--border-portfolio);
    border-bottom: 1px solid var(--border-portfolio);
}

.portfolio-list__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.portfolio-list__subtitle {
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-text-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-list__item {
    width: 100%;
        background-color: var(--primary-bg-color);
        border-radius: 0px 0px 4px 4px;
    
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 60px) / 3);
        }
}

.portfolio-list__item:hover .portfolio-list__top-text {
    transform: translateY(0);
}

.portfolio-list__wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-list__top-text {
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: var(--portfolio-hover-cards);
    color: var(--white-color);

    transform: translateY(101%);
    transition: transform 250ms var(--timing-function);
}

.portfolio-list__link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}