:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --tertiary-bg-color: #F5F4FA;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --line-under-header: #ECECEC;
    --border-portfolio: #EEEEEE;
    --icon-color: #AFB1B8;
    --footer-icon-color: rgba(255, 255, 255, 0.1);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --work-text-overlay: rgba(47, 48, 58, 0.8);
    --portfolio-hover-cards: rgba(33, 150, 243, 0.9);
    --overlay-modal: rgba(0, 0, 0, 0.2);

    --main-color: #212121;
    --complementary-color: #757575;
    --activ-link-but: #2195f3;
    --background-button: #f5f4fa;
    --white: #fff;
    --icon-color: #AFB1B8;
}